.input-wrapper{
    margin: 0 20px;
    width: 20rem;
    position: relative;
}

.input-wrapper input{
    width: 100%;
    padding: 10px 43px;
    border-radius: 23px;
    border: 1px solid var(--gray);
}

.icon-wrapper{
    position: absolute;
    top: 11px;
    left: 13px;
}

.login-input-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.login-input-wrapper input{
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid var(--gray);
}

.login-input-wrapper label{
    align-self: flex-start;;
}

.login{
    width: 100%;
}

.registration span{
    color: var(--dark-green);
    cursor: pointer;
}

