<div class="dashboard-wrapper">
    <app-ad-section></app-ad-section>
    <div>
        <app-courses-container></app-courses-container>
    </div>
    <app-course-selection (courseName)="updateCourse($event)" ></app-course-selection>
    <div class="selected-courses courses">
        <app-courses-container [courseList]="selectedCourseList"></app-courses-container>
    </div>
    <div class="recommended-courses courses">
        <app-courses-container [courseList]="selectedCourseList" *ngIf="loggedIn()"></app-courses-container>
        <div *ngIf="!loggedIn()">Please Login for personalized Courses</div>
    </div>
</div>

