/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    /* background-color: #537d3c; */
}

:root{
    --rate-green:#e6f0d9;
    --login-green:#d5dbc8;
    --course-green:#f4f5ee;
    --light-leech:#f9faf6;
    --dark-green:#537d3c;
    --gray:#c7c7c7;
    --card-gray:#f8f8f8;
}

a{
    text-decoration: none;
    /* color: white; */
}

button{
    cursor: pointer;
}

img{
    width: 100%;
}