<header>
    wfrs
  <div class="menu-bar">
  <div>Home</div>
  <div>Offers</div>
  <div>Restaurants</div>
  <div>Orders</div>
  <div>Account</div>
  </div>
  </header>
  
  <!-- <div class="content" *ngFor = "let restaurant of restaurantData | async">
    <p>{{ restaurant.restaurantName }}</p>
    {{restaurant.price}}
  </div> -->

  <ul>
    <li *ngFor= "let item of restaurantArray">{{item.restaurantName | json}}</li>
  </ul>
  <br>
  <br>
  <hr>
  {{ restaurantData.Restaurants | json}}
  <br>
  <br>
  <br>
  {{restaurantArray | json}}
