.header-wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.welcome-message-wrapper{
    font-size: 23px;
    font-weight: 300;
}

.right-section{
    display: flex;
    align-items: center;
    column-gap: 25px;
}