.menu-container{
    background-color: var(--light-leech);
    padding: 20px 50px;
    height:100vh;
    width: 20vw;
}

.menu-bar{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.menu-bar div{
    font-size: 22px;
    font-weight: 300;
}

.menu-bar a{
    color: black;
}

.logout{
}