<div class="menu-container">
        <app-logo></app-logo>
    
      <div class="menu-bar">
        <div routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></div>
        <div routerLinkActive="active"><a routerLink="">Explore Courses</a></div>
        <div routerLinkActive="active"><a routerLink="">My Courses</a></div>
        <div routerLinkActive="active"><a routerLink="">Notes</a></div>
        <div routerLinkActive="active"><a routerLink="">Settings</a></div>
      </div>

      <app-button [buttonValue]="buttonMessage" class="logout" *ngIf="getLoggedStatus()"></app-button>
</div>
