main{
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto;
    font-family: sans-serif;
}

.left-container,.right-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-content: center;
    transition: 1.5s;
    box-shadow: 0 0 5px 2px black;
}

.message-container{
    border-radius: 50px;
    height: 800px;
    width: 400px;
}