<main>
    <div class="restaurant-wrapper">
        <div class="head-content">
            <h2>{{pageHeading}}</h2>
            <div>
                <div *ngIf="!searchedRestaurantValid">{{invalidRestaurantResponse}}</div>
                <app-input-box (restaurantName)="updateRestaurantName($event)" [inputPage]="'restaurant'"></app-input-box>
            </div>
        </div>
        <div class="card-wrapper">

            <div class="restaurant-card" *ngFor="let cardValue of cardValues">
                <app-card [cardDetails]="cardValue"></app-card>
            </div>

        </div>
    </div>
</main>
