main{
    height: 100vh;
    background-color: var(--login-green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper{
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 60px 0;
}

.logo{
    width: 30%;
}

.input-form{
    width: 60%;
}